@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Montserrat';
  background-color: #eaeaea;
}
section {
  padding: 80px;
  min-height: 500px;
  background-color: #e8631c;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #303030;
  z-index: 10;
}
nav {
  max-width: 1440px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 400;
}
nav ul {
  display: flex;
  flex-direction: row;
  /* gap: 10px; */
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.burger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
}
.burger-menu .line {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px;
  transition: all 0.3s ease-in;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  nav {
    justify-content: space-between;
  }

  nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #303030;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    display: none;
  }
  nav ul li {
    margin: 15px 0;
  }
  .burger-menu {
    display: flex;
  }
  .menu-toggle:checked ~ ul {
    display: flex;
  }
  .menu-toggle:checked + .burger-menu .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  .menu-toggle:checked + .burger-menu .line:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle:checked + .burger-menu .line:nth-child(3) {
    transform: rotate(45deg) translate(5px, 5px);
  }
}

.hero {
  height: 600px;
  background-image: url('../assets/hero.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.hero .container {
  width: 50%;
}
.hero h1 {
  font-size: 125px;

  font-weight: 400;
  font-family: 'Oswald';
}
.hero p {
  /* width: 1254px;
    height: 210px; */
  font-size: 30px;
  font-weight: 400;
  /* font-family: 'Montserrat'; */
}
.hero button {
  width: 322px;
  height: 65px;
  border-radius: 4px;
  background-color: #e8631c;
  color: #ffffff;

  font-size: 29px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Oswald';
  text-align: center;
}

section.tour {
  /* height: 974px; */
  height: 774px;
  background-color: #e8631c;
}
.tour .container h1 {
  font-size: 75px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Oswald';
  text-align: center;
}
.tour .container p {
  /* width: 1708px;
  height: 210px; */
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Montserrat';
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  line-height: 1.3;
  margin-bottom: 30px;
}
.cards {
  display: flex;

  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  section {
    padding: 20px 0;
  }
  .tour .cards {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
.card {
  width: 372px;
  /* height: 493px; */
  height: 553px;
  background-color: #303030;
  text-align: center;
}
.card img {
  /* margin-bottom: 30px; */
}
.card h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Oswald';
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}
.card p {
  display: inline;
  width: 719px;
  height: 119px;
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Montserrat';
  text-align: center;
}

.pricing {
  background-color: #303030;
}
.pricing h1 {
  font-size: 75px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Oswald';
  text-align: center;
}
.pricing .container > p {
  width: 719px;
  height: 119px;
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Montserrat';
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.3;
}
.pricing .card {
  width: 372px;
  height: 493px;
  border-radius: 8px;
  background-color: #e8631c;
}
.pricing .card img {
  padding-top: 60px;
}

.pricing h2 {
  font-size: 37px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Oswald';
  text-align: center;
}
.pricing button {
  width: 322px;
  height: 65px;
  border-radius: 4px;
  background-color: #303030;
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Oswald';
  text-align: center;
  margin-top: 37px;
}

/* products */

.products {
  height: 975px;
  background-color: #e8631c;
  display: flex;
  padding: 0;
  gap: 120px;
}
.img-container {
  height: 100%;
  width: 60%;
  background-image: url('../assets/products.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
}
.img-container2 {
  height: 100%;
  width: 60%;
  background-image: url('../assets/tour3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.products img {
  /* width: 720px; */
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.products .container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products .container h1 {
  font-size: 55px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Oswald';
}

.products .container p {
  height: 210px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Montserrat';
}

.products .container button {
  width: 322px;
  height: 65px;
  border-radius: 4px;
  background-color: #303030;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 400;
  font-family: 'Oswald';
  text-align: center;
}
/* products2 */

.products2 {
  height: 975px;
  background-color: #e8631c;
  display: flex;
  padding: 0;
  gap: 120px;
}

.img-container2 {
  height: 100%;
  width: 70%;
  background-image: url('../assets/tour3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.products2 img {
  /* width: 720px; */
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.products2 .container2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

.products2 .container2 h1 {
  font-size: 55px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Oswald';
  padding-bottom: 60px;
}

.products2 .container2 p {
  height: 210px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Montserrat';
}

.products2 .container2 button {
  width: 322px;
  height: 65px;
  border-radius: 4px;
  background-color: #303030;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 29px;
  font-weight: 400;
  font-family: 'Oswald';
  text-align: center;
}

/*statistics */
.statistics {
  height: 974px;
  background-color: #303030;
}
.statistics h1 {
  font-size: 75px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Oswald';
  text-align: center;
  padding-top: 210px;
}
.statistics p {
  /* width: 1713px; */
  height: 210px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Montserrat';
  text-align: center;
  padding-top: 60px;
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.3;
}

.container-statistic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}
.container-st {
  display: flexbox;
  flex-direction: row;
  flex: 1; /* Елементите ще заемат равна част от контейнера */
}
.container-st h2 {
  font-size: 67px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Oswald';
  text-align: center;
}
.container-st p {
  /* width: 600px;
height: 210px; */
  font-size: 42px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Montserrat';
  text-align: center;
}
/*quote */
.quote {
  height: 974px;
  background-color: #e8631c;
  background-image: url('../assets/quote-img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.quote h1,
.quote p {
    position: relative;
}

.quote p {

  /* height: 483px; */
  font-size: 50px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Nunito';
  text-align: center;
  padding-top: 350px;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.3;
  padding-bottom: 80px;
}
.quote h1 {

  font-size: 58px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Oswald';
  text-align: center;
}
.quote .backgraound-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e8631c;
  mix-blend-mode: multiply;
}
.quote h1,
.quote p {
    position: relative;
}

/* .subscribe */
.subscribe {
  height: 597px;
  background-color: #e8631c;
}
.subscribe h1 {
  font-size: 75px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Oswald';
  text-align: center;
  padding-top: 125px;
}
.subscribe p {
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Montserrat';
  text-align: center;
  padding-top: 73px;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  line-height: 1.3;
  padding-bottom: 50px;
}
.subscribe form {
  text-align: center;
}
.subscribe input,
.subscribe button {
  display: inline-block;
  vertical-align: middle;
}
.subscribe input {
  width: 549px;
  height: 63px;
  background-color: #ffffff;
  text-align: center;
  display: inline;
}
.subscribe input::placeholder {
  font-size: 25px;
  color: #000000;
  font-weight: 400;
  font-family: 'Montserrat';
  text-align: left;
  padding-left: 20px;
}
.subscribe button {
  display: inline;
  width: 222px;
  height: 65px;
  border-radius: 4px;
  background-color: #303030;
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Oswald';
  text-align: center;
}

footer {
  background-color: #303030;
}

footer .container-menu {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer .menu-list {
  display: flex;
  padding-top: 120px;
  gap: 26px;
}

.menu h2 {
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Oswald';
  padding-bottom: 42px;
}
.menu p {
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Montserrat';
  padding-bottom: 42px;
}
.menu-li h2 {
  font-size: 33px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Oswald';
  padding-bottom: 25px;
}
.menu {
  padding-top: 120px;
  width: 50%;
}
.menu-li li {
  font-size: 25px;
  line-height: 44px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Montserrat';
}
